header{
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: fixed;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 200px;
}
.logo{
    color: crimson;
    text-transform: uppercase;
    font-weight: 500;
    font-size: larger;
}
.nav a{
    color: blueviolet;
    font-size: medium;
    font-weight: 700;
    padding-left: 40px;
}
.nav a :hover{
    color: darkblue;
}
.main{
    padding: 100px 200px;
    background-image: url(background.png);
    color: rgb(0, 136, 255);
    min-height: 115vh;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.btn{
    color: rgb(0, 51, 255);
    background-color: rgb(22, 0, 121);
    font-size: 1.1em;
    font-weight: 600;
    padding: 0.9em 2em;
    border-radius: 40px;
}
.btn:hover{
    background-color: rgb(0, 0, 0);
}
.title{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    color: blue;
    font-size: 2.3em;
    font-weight: 800;
    margin-top: 100px;
    margin-bottom: 50px;
}
.container{
    display: flex;
    justify-content: space-around;
}
.card{
    background-color: rgb(40, 93, 239);
    box-shadow: 0px 5px 25px black;
    min-width: 100px;
    border-radius: 50px;
    text-align: center;
    padding: 25px;
    margin: 10px;
    transition: 1s;
}
.card:hover{
    background-color: blueviolet;
    color: rgb(0, 255, 255);
    transform: scale(1.2 , 1.2);
}